Language: Cpp
Standard: Latest
DisableFormat: false
BasedOnStyle: Google
ColumnLimit: 82
AttributeMacros: [__capability, __output, __unused]
#ForEachMacros: [RANGES_FOR, FOREACH]
IndentWidth: 2
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 1
#LineEndingStyle: CRLF
#Encoding: UTF-8

PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PenaltyIndentedWhitespace: 0

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true
AlignEscapedNewlines: LeftWithLastLine

AlignEscapedNewlinesLeft: true
AlignOperands: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: All

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakTemplateDeclarations: Yes
BreakAfterAttributes: Leave
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakFunctionDefinitionParameters: false
BreakInheritanceList: BeforeComma
BreakStringLiterals: false
BreakBeforeBraces: Mozilla # 设置Custom BraceWrapping生效
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both

BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false

CompactNamespaces: true
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always
FixNamespaceComments: true

IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequiresClause: false
IndentWrappedFunctionNames: false

IntegerLiteralSeparator:
  Binary: 3
  BinaryMinDigits: 4
  Hex: 2
  HexMinDigits: 2

KeepEmptyLines: 
  AtEndOfFile: true

LambdaBodyIndentation: OuterScope
#NamespaceIndentationKind: All
ReferenceAlignment: Left
RemoveEmptyLinesInUnwrappedLines: true
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Always
SortUsingDeclarations: Lexicographic
ReflowComments: true

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterOverloadedOperator: true
  AfterPlacementOperator: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: true
SpaceInEmptyBlock: true
#SpacesInAngle: Never
SpacesInContainerLiterals: true